# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
venv/
ENV/
env/
.env
.envs/.env

# Django
db.sqlite3

# Docker
*.log
*.tmp
docker-compose.override.yml

# Coverage
.coverage
coverage.xml
*.cover

# Miscellaneous
*.DS_Store
*.swp
*.swo

dbdata/